<main class="sign-in-main">
  <form class="sign-in-form">
    <section class="form-section user-section">
      <h1>Team</h1>
    </section>
    <section class="form-section">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="Email" />
    </section>
    <section class="form-section">
      <label for="email">Password</label>
      <input type="email" name="email" id="email" placeholder="Password" />
    </section>
    <section class="form-section-btn">
      <button type="submit">Sign In</button>
    </section>
  </form>
  <p class="sign-up-btn">
    <a [routerLink]="['/sign-up/client']">Sign up</a>
  </p>
</main>
