* {
  margin: 0px;
  padding: 0px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  background: var(--silver);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.error-main {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.sign-up-main {
  align-self: center;
  padding: 30px 50px;
  margin-top: 20px;
  max-width: 400px;
  background: var(--lavender);
  font-family: "Tahoma", sans-serif;
  border-radius: 10px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.input-form {
  font-family: "Tahoma", sans-serif;
  font-size: large;
  margin-bottom: 1px;
  padding: 7px 15px;
  border-radius: 5px;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.form-section-btn {
  margin-top: 10px;
  font-size: large;
  height: 35px;
  border-radius: 10px;
  border-style: none;
}

.form-section-loader {
  margin-top: 10px;
  align-items: center;
}

.btn-disable {
  background: var(--taupe);
  color: var(--isabelline);
  cursor: pointer;
}

.btn-enable {
  background: var(--melon);
  color: var(--taupe);
  cursor: pointer;
}

.error-message {
  font-size: small;
  color: blueviolet;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .sign-up-main {
    max-width: 250px;
  }

  .error-main {
    width: 250px;
  }
}
