<ng-container *ngIf="data$ | async as data">
  <section style="background-color: #D3C4A4; min-height: 100vh;">
    <div class="d-flex justify-content-center align-items-center h-100"> <!-- Centro vertical y horizontalmente -->
      <div class="px-4 py-5 text-center text-lg-start" style="border-radius: 15px; max-width: 600px; width: 100%; margin: auto;"> <!-- Estilo del contenedor -->
        <div class="container">
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-12 mb-5 mb-lg-0"> <!-- Ocupa toda la columna -->
              <div class="card">
                <div class="card-body py-5 px-md-5">
                  <h2 class="title form-text fw-bold mb-2 text-uppercase">Client Register</h2>
                  <p class="form-text ">Complete your information</p>
                  <form class="sign-up-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <section class="form-section">
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input
                          type="text"
                          id="nit"
                          class="form-control form-control-lg"
                          formControlName="nit"
                          placeholder=""
                        />
                        <label class="text-under form-text form-label" for="nit">NIT</label>
                        <div *ngIf="nit?.touched">
                          <p *ngIf="nit?.hasError('minlength')" class="error-message">Minimum 6 characters</p>
                          <p *ngIf="nit?.hasError('pattern')" class="error-message">Is numeric</p>
                          <p *ngIf="nit?.hasError('required')" class="error-message">Required</p>
                        </div>
                      </div>
                    </section>

                    <section class="form-section">
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input
                          type="text"
                          id="name"
                          class="form-control form-control-lg"
                          formControlName="companyName"
                          placeholder=""
                        />
                        <label class="text-under form-text form-label" for="name">Name</label>
                        <div *ngIf="companyName?.touched">
                          <p *ngIf="companyName?.hasError('minlength')" class="error-message">Minimum 6 characters</p>
                          <p *ngIf="companyName?.hasError('required')" class="error-message">Required</p>
                        </div>
                      </div>
                    </section>

                    <section class="form-section">
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input
                          type="email"
                          id="email"
                          class="form-control form-control-lg"
                          formControlName="email"
                          placeholder=""
                        />
                        <label class="text-under form-text form-label" for="email">Email</label>
                        <div *ngIf="email?.touched">
                          <p *ngIf="email?.hasError('email')" class="error-message">Invalid Email</p>
                          <p *ngIf="email?.hasError('required')" class="error-message">Required</p>
                        </div>
                      </div>
                    </section>

                    <section class="form-section">
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input
                          type="password"
                          id="password"
                          class="form-control form-control-lg"
                          formControlName="password"
                          placeholder=""
                        />
                        <label class="text-under form-text form-label" for="password">Password</label>
                        <div *ngIf="password?.touched">
                          <p *ngIf="password?.hasError('minlength')" class="error-message">Minimum 6 characters</p>
                          <p *ngIf="password?.hasError('required')" class="error-message">Required</p>
                        </div>
                      </div>
                    </section>

                    <section class="form-section">
                      <div data-mdb-input-init class="form-outline form-white mb-4">
                        <input
                          type="password"
                          id="cpassword"
                          class="form-control form-control-lg"
                          formControlName="cPassword"
                          placeholder=""
                        />
                        <label class="text-under form-text form-label" for="cpassword">Confirm Password</label>
                        <div *ngIf="cPassword?.touched">
                          <p *ngIf="this.form.errors?.['passwordMatch']" class="error-message">Passwords don't match</p>
                        </div>
                      </div>
                    </section>

                    <section *ngIf="!data.isLoading$" class="form-section">
                      <div class="d-flex justify-content-between">
                        <button
                          type="button"
                          class="btn btn-back btn-back-outline-light btn-lg px-5"
                          (click)="goBack()"
                        >
                          Back
                        </button>
                        <button
                          [ngClass]="{'btn-disable': form.invalid, 'btn-enable': form.valid}"
                          type="submit"
                          class="btn btn-outline-light btn-lg px-5"
                        >
                          Register
                        </button>
                      </div>
                    </section>

                    <section *ngIf="data.isLoading$" class="form-section form-section-loader">
                      <loader-c></loader-c>
                    </section>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
