* {
  margin: 0;
  padding: 0;
}

.sign-in-main {
  font-family: "Tahoma", sans-serif;
  padding: 30px 50px;
  max-width: 350px;
  max-height: 350px;
  background: var(--pale-purple);
  border-radius: 8px;
  scrollbar-color: var(--pacific-cyan);
  flex: 1;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-section-btn {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.form-section-btn button {
  font-size: large;
  height: 35px;
  background: var(--taupe);
  color: var(--isabelline);
  border-radius: 10px;
  border-style: none;
}

.user-section {
  text-align: center;
}

.form-section label {
  font-size: large;
}

.form-section input {
  font-size: large;
  border-radius: 5px;
  margin-top: 8px;
  padding: 10px 20px;
}

.sign-up-btn {
  font-size: 20px;
  color: var(--melon);
}

.change-type-user {
  background: var(--melon);
  font-size: small;
  border-radius: 50px;
  border-style: none;
  box-shadow: 5px 5px 5px var(--taupe);
  border-color: var(--isabelline);
  padding: 8px;
  color: var(--taupe);
  font-weight: bold;
  width: 70px;
}

.type-on-right {
  margin-left: -15px;
}

.type-on-left {
  z-index: 1;
  margin-right: -15px;
}

@media screen and (max-width: 600px) {
  .sign-in-main {
    max-width: 200px;
  }
}
